<h5>番組検索</h5>

<%= form_with(scope: :search, url:admins_program_search_path, local: true, method: :get) do |f| %>
<div class="form-group">
  <div>
    <%= f.text_field :keyword, value: @search_params[:keyword], placeholder: "投稿を検索する", class: "form-control", placeholder: "キーワードを入れてください" %>
  </div>

  <div class="form-group">
    <div class="">
      <%= f.label "放送開始時間", class: "form-group-label" %>
    </div>
    <div>
      <%= f.datetime_field :start_datetime_from, value: @search_params[:start_datetime_from], class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="">
      <%= f.label "放送終了時間", class: "form-group-label" %>
    </div>
    <div>
      <%= f.datetime_field :start_datetime_to, value: @search_params[:start_datetime_to], class: "form-control" %>
    </div>
  </div>

  <div class="text-right mt-3">
    <%= f.submit "検索", class: "btn btn-info" %>
  </div>
</div>
<% end %>

