<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-2">
      <div class="mb-3">
        <%= render partial: 'admins/programs/search_form', locals: { search_params: @search_params } %>
      </div>
      <div class="mb-3">
        <%= render partial: 'admins/homes/admin_menu' %>
      </div>
    </div>
    <div class="col-9 mx-auto">
      <h2>番組一覧</h2>
      <div class="row">
        <div class="col-12">
          <div class="float-right">
            <%= render partial: 'admins/programs/select_form', locals: { programs: @programs, sort: @sort } %>
          </div>
        </div>
      </div>
      <div class="row">
        <p><%= @time.strftime("%-H:%M") %>の情報です</p>
        <%= render partial: 'admins/programs/index', locals: { programs: @programs } %>
      </div>
      <!--バッチ処理時以外で使用する（scrapeアクションで取得日変更）-->
      <%= link_to '番組情報を取得する',admins_scrape_path %>
    </div>
  </div>
</div>