<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-9">
      <div class="mt-3">
        <h4 class="">番組一覧</h4>
        <% @programs.each do |program|%>
        <h5><%= program[:title] %>の概要</h5>
          <table class="table">
            <tr>
              <th class="col-4">番組名</th>
              <th><%= program[:title] %></th>
            </tr>
            <tr>
              <th>サブタイトル</th>
              <th><%= program[:second_title] %></th>
            </tr>
            <tr>
              <th>放送カテゴリー</th>
              <th><%= program[:category] %></th>
            </tr>
            <tr>
              <th>出演者情報</th>
              <th><%= program[:cast] %></th>
            </tr>
            <th>放送局</th>
              <th><%= program[:channel] %></th>
            </tr>
            <tr>
              <th>放送日時</th>
              <th><%= program[:date] %>　 <%= program[:by_weekday] %>曜日　<%= program[:start_time] %>〜<%= program[:end_time] %></th>
            </tr>
          </table><br><br>
          <% end %>
         </div>
      </div>
      <div class="col-3">
      </div>
  </div>
</div>