<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-3">
      <%= link_to 'уЋфухёТЃЁта▒сѓњуиежЏєсЂЎсѓІ', edit_admins_program_path(@program), class: 'btn btn-outline-info' %>
      <%= link_to 'уЋфухёТЃЁта▒сѓњтЅіжЎцсЂЎсѓІ', admins_program_path(@program), method: :delete, class: 'btn btn-outline-secondary' %>
    </div>
    <div class="col-9">
      <h4 class="">уЋфухёУЕ│у┤░</h4>
      <strong>­Ъў▓<%= @time.strftime("%-H:%M") %>сЂ«ТЃЁта▒сЂДсЂЎ</strong>
        <%= render partial: 'layouts/information', locals: { program: @program } %>
      <%= link_to "Back", admins_programs_path, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>

<!--# жќІтДІТЎѓтѕ╗-->
<!--    # ТЎѓжќЊ-->
<!--    # hour = datetime.hour-->
<!--    # # тѕє-->
<!--    # minute = datetime.minute-->

<!--    # # ТЌЦС╗ў-->
<!--    # year = datetime.year-->
<!--    # month = datetime.month-->
<!--    # date = datetime.day-->