<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-2 mx-auto">
      <%= link_to '一覧へ戻る', programs_path, class: 'btn btn-danger' %>
      <%= render partial: 'admins/members/search_form', locals: { search_params: @search_params } %>
      <%= render partial: 'admins/homes/admin_menu' %>
    </div>
    <div class="col-8 mx-auto">
      <h2 class="text-center">検索結果</h2>
      <div class="mt-3">
        <% if @members.count == 0 || @members.empty? %>
          <h2 class="text-center mt-5">検索結果はありません</h2>
        <% else %>
        <table class="table program">
        <thead>
          <tr>
            <th></th>
            <th>氏名(ニックネーム)</th>
            <th>フリガナ</th>
            <th>出身地</th>
            <th>いいねクリック数</th>
            <th>アクセス数</th>
          </tr>
        </thead>
        <tbody>
        <% @members.each do |member| %>
          <tr>
            <th class="align-middle">
              <%= attachment_image_tag member, :profile_image, format: 'png', fallback: "img/noimage1.png", size: "60x60"%>
            </th>
            <th class="align-middle">
              <%= link_to  admins_member_path(member.id)  do %>
                <%= member.first_name + member.last_name %>(<%= member.nickname %>)
              <% end %>
            </th>
            <th class="align-middle">
              <%= member.kana_sei + member.kana_mei %>
            </th>
            <th class="align-middle">
              <%= member.prefecture %>
            </th>
            <th class="align-middle">
              <%= member.favorites.count %>いいね
            </th>
            <th class="align-middle">
              <%= member.sign_in_count %>回
            </th>
          </tr>
          <% end %>
        </tboby>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>