<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-2">
      <%= render 'members/members/mymenu' %>
    </div>
    <div class="col-10 mx-auto">
      <h1>通知設定</h1>
      <p>お気に入りした番組の放送前に通知がきます！<br>
      1時間前〜24時間前の範囲で設定できます。
      </p>

      <p>（現在の事前通知は<%= current_member.notification_time %>時間前で設定されています）</p>
      <%= form_with model: current_member, url:member_path, local: true, method: :put do |f| %>

      <div class="form-group row">
        <div class="col-md-3 d-flex align-items-center">
          <%= f.label "通知時間", class: "form-group-label" %>
        </div>
        <div class="col-md-7">
          <%= f.number_field :notification_time, class: "form-control", min: 1, max: 24 %>時間前
        </div>
      </div>


      <div class="form-group-row">
        <div class="col-10 text-right">
        <%= f.submit "更新する", class: "btn btn-info" %>
        </div>
      </div>

     <% end %>
    </div>
  </div>
</div>
