<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-2">
      <h2>menu</h2>
    </div>
    <div class="col-10">
      <section id="mymenu-box">
        <h2 class="text-center">会員専用マイページ</h2>
        <div class="mymenu-box-list">
          
          <%= link_to  anchor: "myfav-program" do %>
            <div class="mymenu-box-item">
              <i class="fas fa-tv"></i>お気に入り番組
            </div>
          <% end %>
          <%= link_to "お気に入りキャスト", { anchor: "myfav-cast" }, class: "mymenu-box-item" %>
          <%= link_to "口コミ一覧", { anchor: "myreview" }, class: "mymenu-box-item" %>
          <%= link_to "お問い合わせ", { anchor: "mycontact" }, class: "mymenu-box-item" %>
          <%= link_to "LINE登録", { anchor: "myline" }, class: "mymenu-box-item" %>
          <%= link_to "プロフィール変更・退会", { anchor: "mypage-edit" }, class: "mymenu-box-item" %>
        </div>
      </section>
      <section id="myfav-program"></section>
      <section id="myfav-cast"></section>
      <section id="myreview"></section>
      <section id="mycontact"></section>
      <section id="myline"></section>
      <section id="mypage-edit"></section>
    </div>
  </div>
</div>