<div class="container-fluid">
  <h2>こんにちは！<%= current_member.nickname %>さん</h2>
  <%= attachment_image_tag current_member, :profile_image, format: 'png', fallback: "img/noimage1.png", size: "100x100"%>
  <div class="row mt-5">
    <div class="col-2">
      <h2>menu</h2>
    </div>
    <div class="col-10">
      <section id="mymenu-box">
        <h2 class="text-center">会員専用マイページ</h2>
        <div class="mymenu-box-list">
          <%= link_to "お気に入り番組", { anchor: "myfavorite" }, class: "mymenu-box-item" %>
          <%= link_to "口コミ一覧", { anchor: "myreview" }, class: "mymenu-box-item" %>
          <%= link_to "お問い合わせ", new_contact_path, class: "mymenu-box-item" %>
          <%= link_to "LINE登録", line_events_about_path, method: :post, class: "mymenu-box-item" %>
          <%= link_to "プロフィール変更", my_page_edit_path, class: "mymenu-box-item" %>
          <%= link_to "退会画面", unsubscribe_path, class: "mymenu-box-item" %>
        </div>
      </section>

      <section id="myfav-program">
        <div class="col-8 mx-auto">
        <h3>お気に入り番組情報</h3>
        <% current_member.fav_programs.each do |program| %>
        <div class="row ml-5">
          <div class="col-8">
            <%= link_to program_path(program) do %>
              <%= program[:title] %>
            <% end %>
          </div>
          <div class="col-4">
            <% weeks = ["月","火","水","木","金","土","日"] %>
            <% index = program.start_datetime.strftime("%u").to_i %>
            <%= program[:start_datetime].strftime("%Y年%m月%d日(#{weeks[index - 1]}) %-H:%M") %>
          </div>
        </div>
        <% end %>
        </div>
      </section>


      <section id="myreview">
        <div class="col-8 mx-auto">
          <h3>口コミ一覧</h3>
          <% @reviews.each do |review| %>
            <div class="row ml-5">
              <div class="col-8">
                <%= link_to program_path(review.program) do %>
                  <%= review.program.title %>
                <% end %>
              </div>
              <div class="col-3">
                <%= review.comment %>
              </div>
              <div class="col-1">
                |  <%= review.score %>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>