<div class="container-fluid m-3">
  <h2>こんにちは！<%= current_member.nickname %>さん</h2>
    <%= attachment_image_tag current_member, :profile_image, format: 'png', fallback: "img/noimage1.png", size: "100x100"%>
  <h2 class="text-center">会員専用マイページ</h2>
  <div class="row mt-5 m-3">
    <div class="col-2">
      <%= render 'members/members/mymenu' %>
    </div>
    <div class="col-10">
    <section id="menubox" class="inner">
      <div class="menu-list">

        <div class="menu-box-item flipLeftTopTrigger flipLeftTop">
          <div class="box-item">
            <%= link_to  anchor: "myfavorite", class: "item" do %>
              <div class="">
                <i class="far fa-heart fa-5x"></i>
                <h3>お気に入り番組</h3>
              </div>
            <% end %>
          </div>
        </div>

        <div class="menu-box-item flipLeftTopTrigger flipLeftTop">
          <div class="box-item">
            <%= link_to  anchor: "myreview" do %>
              <div class="">
                <i class="far fa-comments fa-5x"></i>
                <h3>口コミ一覧</h3>
              </div>
            <% end %>
          </div>
        </div>

        <div class="menu-box-item flipLeftTopTrigger flipLeftTop">
          <div class="box-item">
            <%= link_to  new_contact_path do %>
            <div>
              <i class="far fa-envelope fa-5x"></i>
              <h3>お問い合わせ</h3>
            </div>
            <% end %>
          </div>
        </div>


        <div class="menu-box-item flipLeftTopTrigger flipLeftTop">
          <% if current_member.new_notificatioin_exsist? %>
  		      <i class="fa fa-circle" style="color: gold;"></i>
  		    <% end %>
  		    <div class="box-item">
            <%= link_to program_notifications_path, method: :get do %>
              <div>
                <i class="fas fa-tv fa-5x"></i>
                <h3>お知らせ</h3>
              </div>
            <% end %>
          </div>
        </div>

        <div class="menu-box-item flipLeftTopTrigger flipLeftTop">
          <div class="box-item">
            <%= link_to my_page_edit_path do %>
              <div>
                <i class="fas fa-cogs fa-5x"></i>
                <h3>プロフィール変更</h3>
              </div>
            <% end %>
          </div>
        </div>

        <div class="menu-box-item flipLeftTopTrigger flipLeftTop">
          <div class="box-item">
          <%= link_to unsubscribe_path do %>
            <div class"">
              <i class="fas fa-user-circle fa-5x"></i>
              <h3>退会画面</h3>
            </div>
          <% end %>
        </div>
      </div>

    </section>

    <section id="myfav-program">
      <div class="col-8 mx-auto">
        <h3>お気に入り番組情報</h3>
        <p>
          現在、放送時間の<%= current_member.notification_time %>時間前に通知が来るように設定されています。
          <%= link_to '通知時間の設定を変更する', notification_path, class: 'btn btn-outline-info btn-sm' %>
        </p>
        <% current_member.fav_programs.each do |program| %>
        <div class="row ml-5">
          <div class="col-8">
            <%= link_to program_path(program) do %>
              <%= program[:title] %>
            <% end %>
          </div>
          <div class="col-4">
            <% weeks = ["月","火","水","木","金","土","日"] %>
            <% index = program.start_datetime.strftime("%u").to_i %>
            <%= program[:start_datetime].strftime("%Y年%m月%d日(#{weeks[index - 1]}) %-H:%M") %>
          </div>
        </div>
        <% end %>
      </div>
    </section>


    <section id="myreview">
      <div class="col-8 mx-auto">
        <div class="mt-5 mb-5">
          <h3>口コミ一覧 （<%= @reviews.count %>件）</h3>
          <% @reviews.includes([:program]).each do |review| %>
            <div class="row ml-5">
              <div class="col-8">
                <%= link_to program_path(review.program) do %>
                  <%= review.program.title %>
                <% end %>
              </div>
              <div class="col-3">
                <%= review.comment %>
              </div>
              <div class="col-1">
                |  <%= review.score %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    </div>
  </div>
</div>