<div class="conteiner-fuild">
  <div class="row m-3 justify-content-around">
    <div class="col-md-4">
      <%= link_to members_guest_sign_in_path, method: :post do %>
        <%= image_tag "img/home1.jpg", alt: '...' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to member_session_path do %>
        <%= image_tag "img/home2.jpg", alt: '...' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to new_member_registration_path do %>
        <%= image_tag "img/home3.jpg", alt: '...' %>
      <% end %>
    </div>
  </div>
</div>