<div class="container-fluid m-3">
  <div class="row mt-5 m-3">
    <div class="col-2">
      <%= render partial: 'members/programs/search_form', locals: { program: @program } %>
      <%= render 'members/members/mymenu' %>
    </div>
    <div class="col-10">
      <h4>番組一覧</h4>
      <p>😲<%= @time.strftime("%-H:%M") %>の情報です</p>
      <%= render partial: 'members/programs/index', locals: { programs: @programs, member: @member } %>
      <%= paginate @programs %>
    </div>
  </div>
</div>
