<div class="container-fluid m-3">
  <div class="row mt-5 m-3">
    <div class="col-2">
      <%= render partial: 'members/programs/search_form', locals: { search_params: @search_params } %>
      <%= render 'members/members/mymenu' %>
    </div>
    <div class="col-10">
      <h2>番組一覧</h2>
      <div class="row">
        <div class="col-12">
          <div class="float-right">
            <%= render partial: 'admins/programs/select_form', locals: { programs: @programs, sort: @sort } %>
          </div>
        </div>
      </div>
      <p>😲<%= @time.strftime("%-H:%M") %>の情報です</p>
      <%= render partial: 'members/programs/index', locals: { programs: @programs, member: @member } %>
      <%= paginate @programs %>
    </div>
  </div>
</div>
