<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-2 mx-auto">
      <%= link_to '番組一覧へ戻る', programs_path, class: 'btn btn-primary btn-block' %>
      <div class="mt-5">
        <%= render partial: 'members/members/mymenu' %>
      </div>
    </div>
    <div class="col-8 mx-auto">
      <h2 class="">番組詳細</h2>
      <strong>😲<%= @time.strftime("%-H:%M") %>の情報です</strong>
      <div id="programs_area">
        <%= render partial: 'layouts/information', locals: { program: @program } %>
      </div>

      <div id="favorite_buttons_<%= @program.id %>">
        <%= render partial: 'members/favorites/favorite', locals: { program: @program, member: @member } %>
      </div>

      <!--レビュー一覧-->
      <div id="comments_area">
        <%= render partial: 'members/reviews/show_review', locals: { program: @program, member: @member, reviews: @reviews } %>
      </div>
      <!--レビュー新規投稿-->
      <%= render partial: 'members/reviews/new_review', locals: { program: @program, review: @review } %>

      <%= link_to "Back", programs_path, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>