<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-9">
      <h4 class="">番組詳細</h4>
      <strong>😲<%= @time.strftime("%-H:%M") %>の情報です</strong>
      <div id="programs_area">
        <%= render partial: 'layouts/information', locals: { programs: @program } %>
      </div>
      <div>
        <%#= render partial: 'members/programs/favorite', locals: { program: @program, member: @member, favarite: @favorite } %>
        <% if @program.favorited_by? %>
        <p>
          <%= link_to program_favorite_path(@program), method: :delete do %>
            <%= @program.favorites.count %> 💖
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to program_favorite_path(@program), method: :post do %>
            <%= @program.favorites.count %> 🖤
          <% end %>
        </p>
        <% end %>
      </div>
      <%= link_to "Back", programs_path, class: "btn btn-sm btn-danger" %>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>