<div class="tab-area">
  <ul class="tab">
		<li class="active"><a href="#use">管理者MENU</a></li>
	</ul>
	<div id="use" class="area is-active">
		<ul>
		  <li>
		    <%= link_to "トップ", admins_root_path %>
		  </li>
		  <li>
		    <%= link_to "統計値", admins_analysis_path %>
		  </li>
		  <li>
		    <%= link_to "会員一覧", admins_members_path %>
		  </li>
		  <li>
		    <%= link_to "会員検索", admins_member_search_path %>
		  </li>
		  <li>
		    <%= link_to "お問合せ一覧", admins_contacts_path %>
		  </li>
		  <li>
		    <%= link_to "番組情報関連", admins_programs_path %>
		  </li>
		  <li>
		    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
		  </li>
		  <li>
		    <%= link_to "番組取得ボタン", admins_scrape_path, class: 'btn btn-sn btn-primary' %>
		  </li>
		</ul>
  </div>
</div>