<div class="tab-area">
  <ul class="tab">
		<li class="active"><a href="#use">管理者MENU</a></li>
	</ul>
	<div id="use" class="area is-active">
		<ul>
		  <li>
		    <%= link_to "トップ", admins_root_path %>
		  </li>
		  <li>
		    <%= link_to "統計値", admins_analysis_path %>
		  </li>
		  <li>
		    <%= link_to "会員一覧", admins_members_path %>
		  </li>
		  <li>
		    <%= link_to "会員検索", admins_search_path %>
		  </li>
		  <li>
		  	<%# if @unchecked_notifications.any? %>
	        <!--<span style="background-color: gold;width:10px;height:10px;top:14px;left:10px;position:absolute;border-radius:50%;"></span>-->
	      <%# end %>
		    <%= link_to "お問合せ一覧", admins_contacts_path %>
		  </li>
		  <li>
		    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
		  </li>
		</ul>
  </div>
</div>